// colors
$theme: #002265;
$theme-secondary: #14279B;
$theme-teritory: #4581F6;
$body-font-color: #082032;
$theme-white: #ffffff;
$link-color: #212121;
$btn-color: #608AF5;
$op-7:0.7;
// font
$font-primary:'Poppins',
sans-serif;
